.boulderdash {
    margin: auto;
    margin-left: 60px;
}

.boulderdash-wrraper {
    overflow: hidden;
    position: absolute;
}

.boulderdash-header {
    height: 50px;
    background-color: #192a56;
    color: #fff;
    width: 1280px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.boulderdash-header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.boulderdash-header .stats_values {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.boulderdash-field > * {
    position: absolute;
}

.boulderdash-field {
    background-color: #000;
    background-image: url('../images/space.gif');
    width: 1280px;
    height: 640px;
}

.boulderdash-field #player {
    width: 40px;
    height: 40px;
}

.boulderdash-field .objects {
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.boulderdash .boulderdash-field .wall {
    background-image: url('../images/wall.gif');
}
.boulderdash .boulderdash-field .dirt {
    background-image: url('../images/dirt.gif');
}
.boulderdash .boulderdash-field .gem {
    background-image: url('../images/gem.gif');
}
.boulderdash .boulderdash-field .rock {
    background-image: url('../images/rock.gif');
}

#link_pause {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
    opacity: .9;
}
#link_resume { display: none; }
#link_quit { display: none; }

.splashscreen {
    width: 1280px;
    height: 690px;
    display: flex;
    position: absolute; 
    background-color: #2c3e50;
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.splashscreen h4 {color: grey;}
.splashscreen .actions {text-align: center;}
.splashscreen .actions h3 {opacity: .7;}
.splashscreen .actions h3:hover {
    opacity: 1;
    cursor: pointer;
}
#levelselector {display: none;}
#back_to_splash {cursor: pointer;}
.splashscreen .levels {margin-top: 30px;}
.splashscreen .levels .level {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 8px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .7;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s ease;
}
.splashscreen .levels .level:hover {
    opacity: 1;
    transition: all .2s ease;
}

#over {display: none;}

#soundtracks, #soundtracks > * {
    display: none;
    opacity: 0;
}